{% extends "admin/base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Users</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone No.</th>
                        <th>Active</th>
                        <th>Last Login</th>
                        <th class="w-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.mobile_number }}</td>
                        <td>{% if user.active == 1 %}
                                {{ 'YES' }}
                            {% else %}
                                {{ 'NO' }}
                            {% endif %}
                        </td>
                        <td>
                            {% if user.last_login %}
                                {{ user.last_login }}
                            {% else %}
                                Never Logged In
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-list flex-nowrap">
                                <a href="/admin/user/view/{{ user.id }}" class="btn btn-sm btn-primary">
                                    <i class="ti ti-eye me-1"></i>
                                    View
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Pagination -->
        {% if total_pages > 1 %}
        <div class="card-footer d-flex align-items-center">
            <ul class="pagination m-0 ms-auto">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="/admin/dashboard?page={{ page - 1 }}" tabindex="-1">
                        <i class="ti ti-chevron-left"></i>
                        prev
                    </a>
                </li>
                {% for pg in range(1, total_pages + 1) %}
                <li class="page-item {% if page == pg %}active{% endif %}">
                    <a class="page-link" href="/admin/dashboard?page={{ pg }}">{{ pg }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                    <a class="page-link" href="/admin/dashboard?page={{ page + 1 }}">
                        next
                        <i class="ti ti-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}